.ble-btn{
  position: absolute;
  top: 10px;
  right: 16px;
  text-decoration: none;
  color: white;
  background-color: var(--direction-button);
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
}

.ble-btn:hover {
  background-color: var(--direction-button-hover);
}