:root {
    --button-color: #faffd3;
    --button-hover: #f7ebb5;
    --textField-focus: black;
    --error-text: #e74c3c;
    --success-text: #2ecc71;
    --direction-button:#8b8b8b;
    --direction-button-hover: #222;
  }