@import '../var/colors.css';

.Bluetooth {
    position: relative;
    padding: 0px;
    font-family: sans-serif;
    text-align: center;
  }
  
  .Bluetooth p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .connect-btn {
    background-color: var(--button-color);
    color: black;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .connect-btn:hover {
    background-color: var(--button-hover);
  }

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--button-hover);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 30px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.back-btn{
  position: absolute;
  top: -10px;
  left: 16px;
  text-decoration: none;
  color: white;
  background-color: #8b8b8b;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
}

.back-btn:hover {
  background-color: #222;
}


